@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ISg.ttf) format('truetype');
}
@media ( max-width: 530px ) {
  font-size: 2.5rem;
}
@media (max-width: 750px ) {
  font-size: 3rem;
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  margin: 2%;
  font-family: 'Raleway', sans-serif;
}
.about-dev {
  display: flex;
  justify-content: center;
  border: solid yellow;
  align-items: center;
  font-family: 'Merriweather', serif;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  display: flex;
  background: #012B4D;
  padding: 2%;
  justify-content: space-around;
  flex-wrap: nowrap;
}
nav a {
  text-decoration: none;
  background: #41B3A3;
  color: black;
  padding: 2%;
  width: 10%;
  text-align: center;
}
.aboutfooter nav {
  display: flex;
  background: #012B4D;
  padding: 2%;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.aboutfooter nav a {
  text-decoration: none;
  background: #41B3A3;
  color: black;
  padding: 2%;
  width: 10%;
  text-align: center;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
.about {
  font-size: 62.5%;
  padding: 2% 4% 2% 4%;
}
.about .aboutcontainer {
  background-color: #D8D9D1;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  color: #21211A;
}
.about .aboutcontainer header {
  border: solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .aboutcontainer header h1 {
  font-family: 'Merriweather', serif;
  font-size: 2.5rem;
}
.about .aboutcontainer .about-contentcontainer {
  margin: 2%;
  border: solid green;
}
.about .aboutcontainer .about-contentcontainer .about-dev {
  margin: 1%;
}
.about .aboutcontainer .about-contentcontainer .about-dev h2 {
  font-size: 1.6rem;
}
.about .aboutcontainer .about-contentcontainer .about-dev .about-text {
  margin: auto;
}
.about .aboutcontainer .about-contentcontainer .about-dev .about-text .logo {
  background: transparent;
}
