nav {
    display: flex;
    background: @prussian-blue;
    padding: 2%;
    justify-content: space-around;
    flex-wrap: nowrap;

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
  
    a {
        text-decoration: none;
        background: @puerto-rico;
        color: black;
        padding: 2%;
        width: 10%;
        text-align: center;
        font-size: 2rem;
        font-family: 'Merriweather', serif;

        @media @phone {
            font-size: 1rem;
        }

        @media @tablet {
            font-size: 1.5rem;
        }

        &:hover {
            color: @corvette;
        }

        @media @phone {
            margin: 10%;
            width: 80%;
            padding: 1%;
            margin: 5%;
        }
    }
}