.aboutcontainer {
    nav {
        display: flex;
        background: @prussian-blue;
        padding: 2%;
        justify-content: space-around;
        flex-wrap: nowrap;
        @media @phone {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media @tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        a {
            text-decoration: none;
            background: @puerto-rico;
            color: black;
            padding: 2%;
            width: 10%;
            text-align: center;
            @media @phone {
                width: auto;
                border: solid red;
            }
            @media @tablet {
                width: auto;
                border: solid green;
            }
        }
    }
}