.main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 60%;
        padding: 5%;
    }

    .paragraphs {
        width: 50%;
        flex-direction: column; 
        justify-content: space-between;

        p {
            padding: 5%;
        }
    }
}