.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    img {
        width: 50%;
        padding-top: 5%;
    }

    .paragraphs {
        width: 50%;
        flex-direction: column; 
        justify-content: space-between;

        p { //paragraphs inside first row
            padding: 5%;
        }
    }

    p { // paragraph in second row
        width: 50%;
    }
}