// MEDIA QUERIES
// mix-ins using device variables:
@media @phone {
    font-size: 2.5rem;
}

@media @tablet {
    font-size: 3rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    margin: 2%;
    font-family: @raleway;
}

.about-dev {
    display: flex;
    justify-content: center;
    border: solid yellow;
    align-items: center;
    font-family: @merriweather;
}